<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="container mt-5">
      <table class="table table-borderless">
        <caption>
          User info
        </caption>
        <tr>
          <td class="p-2 fw-bolder">ID</td>
          <td class="p-2">{{ user.UserID }}</td>
        </tr>
        <tr>
          <td class="p-2 fw-bolder">Name</td>
          <td class="p-2">{{ user.Name }}</td>
        </tr>
        <tr>
          <td class="p-2 fw-bolder">Email</td>
          <td class="p-2">{{ user.Email }}</td>
        </tr>
        <tr>
          <td class="p-2 fw-bolder">Mobile</td>
          <td class="p-2">{{ user.Mobile }}</td>
        </tr>
        <tr>
          <td class="p-2 fw-bolder">Address</td>
          <td class="p-2">{{ user.Address }}</td>
        </tr>
        <tr *ngIf="isAdmin()">
          <td class="p-2 fw-bolder">Active</td>
          <td class="p-2">{{ user.Active }}</td>
        </tr>
        <tr *ngIf="isAdmin()">
          <td class="p-2 fw-bolder">Roles</td>
          <td class="p-2">
            <mat-chip-list>
              <mat-chip *ngFor="let role of user.Roles">{{ role }}</mat-chip>
            </mat-chip-list>
          </td>
        </tr>
      </table>
      <div class="m-2 p-1">
        <div class="admin-controls d-flex align-items-center">
          <button
            type="button"
            class="btn btn-secondary d-inline-block p-1 m-1"
            data-bs-toggle="modal"
            data-bs-target="#EditUserInfoModal"
            (click)="EditMode()"
          >
            Edit
          </button>
          <button class="btn btn-danger d-inline-block p-1 m-1">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="EditUserInfoModal"
  tabindex="-1"
  aria-labelledby="EditUserInfoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EditUserInfoModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="EditFormGroup">
          <div class="row">
            <div class="col-3">
              <div class="p-2 fw-bolder">ID</div>
            </div>
            <div class="col-9">
              <td class="p-2">
                {{ user.UserID }}
              </td>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="p-2 fw-bolder">Name</div>
            </div>
            <div class="col-9">
              <div class="p-2">
                <div class="form-group p-2">
                  <input
                    type="text"
                    class="form-control"
                    [value]="EditFormGroup.get('Name')?.value"
                    formControlName="Name"
                    [ngClass]="{
                      'is-invalid':
                        EditFormGroup.get('Name')?.invalid &&
                        EditFormGroup.get('Name')?.touched
                    }"
                  />
                  <div class="invalid-feedback">
                    <div
                      *ngIf="EditFormGroup.get('Name')?.errors?.required"
                      class="text-danger"
                    >
                      Name is required
                    </div>
                    <div
                      *ngIf="EditFormGroup.get('Name')?.errors?.pattern"
                      class="text-danger"
                    >
                      Name cannot contain digits or special characters
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="p-2 fw-bolder">Email</div>
            </div>
            <div class="col-9">
              <div class="p-2">
                <div class="form-group p-2">
                  <input
                    type="text"
                    class="form-control"
                    [value]="EditFormGroup.get('Email')?.value"
                    formControlName="Email"
                    [ngClass]="{
                      'is-invalid':
                        EditFormGroup.get('Email')?.invalid &&
                        EditFormGroup.get('Email')?.touched
                    }"
                  />
                  <div class="invalid-feedback">
                    <div
                      *ngIf="EditFormGroup.get('Email')?.errors?.required"
                      class="text-danger"
                    >
                      Email is required
                    </div>
                    <div
                      *ngIf="EditFormGroup.get('Email')?.errors?.email"
                      class="text-danger"
                    >
                      The entered email is not a valid one
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="p-2 fw-bolder">Mobile</div>
            </div>
            <div class="col-9">
              <div class="p-2">
                <div class="form-group p-2">
                  <input
                    type="text"
                    class="form-control"
                    [value]="EditFormGroup.get('Mobile')?.value"
                    formControlName="Mobile"
                    [ngClass]="{
                      'is-invalid':
                        EditFormGroup.get('Mobile')?.invalid &&
                        EditFormGroup.get('Mobile')?.touched
                    }"
                  />
                  <div class="invalid-feedback">
                    <div
                      *ngIf="EditFormGroup.get('Mobile')?.errors?.required"
                      class="text-danger"
                    >
                      Mobile is required
                    </div>
                    <div
                      *ngIf="EditFormGroup.get('Mobile')?.errors?.pattern"
                      class="text-danger"
                    >
                      Mobile can only contain digits, brackets and + sign
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="p-2 fw-bolder">Address</div>
            </div>
            <div class="col-9">
              <div class="p-2">
                <div class="form-group p-2">
                  <input
                    type="text"
                    class="form-control"
                    [value]="EditFormGroup.get('Address')?.value"
                    formControlName="Address"
                    [ngClass]="{
                      'is-invalid':
                        EditFormGroup.get('Address')?.invalid &&
                        EditFormGroup.get('Address')?.touched
                    }"
                  />
                  <div class="invalid-feedback">
                    <div
                      *ngIf="EditFormGroup.get('Address')?.errors?.required"
                      class="text-danger"
                    >
                      Address is required
                    </div>
                    <div
                      *ngIf="EditFormGroup.get('Address')?.errors?.pattern"
                      class="text-danger"
                    >
                      Address cannot contain special characters
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="isAdmin()" class="row">
            <div class="col-3">
              <div class="p-2 fw-bolder">Roles</div>
            </div>
            <div class="col-9">
              <div class="p-2">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip
                      *ngFor="let role of userEditable.Roles!"
                      [selectable]="selectable"
                      [removable]="removable"
                      (removed)="remove(role)"
                    >
                      {{ role }}
                      <button matChipRemove *ngIf="removable">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip>
                    <input
                      placeholder="New role..."
                      [formControl]="roleCtrl"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="add($event)"
                    />
                  </mat-chip-list>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div *ngIf="isAdmin()" class="row">
            <div class="col-3">
              <div class="p-2 fw-bolder">Active</div>
            </div>
            <div class="col-9">
              <div class="p-2">
                <mat-radio-group formControlName="Active">
                  <mat-radio-button class="mx-2" value="true"
                    >true</mat-radio-button
                  >
                  <mat-radio-button class="mx-2" value="false"
                    >false</mat-radio-button
                  >
                </mat-radio-group>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="EditFormGroup.invalid"
          data-bs-dismiss="modal"
          (click)="saveChanges()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
