<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="container mt-5">
      <table class="table table-borderless">
        <caption>
          User info
        </caption>
        <tr>
          <td class="p-2 fw-bolder">ID</td>
          <td class="p-2">{{ user.UserID }}</td>
        </tr>
        <tr>
          <td class="p-2 fw-bolder">Name</td>
          <td class="p-2">{{ user.Name }}</td>
        </tr>
        <tr>
          <td class="p-2 fw-bolder">Email</td>
          <td class="p-2">{{ user.Email }}</td>
        </tr>
        <tr>
          <td class="p-2 fw-bolder">Mobile</td>
          <td class="p-2">{{ user.Mobile }}</td>
        </tr>
        <tr>
          <td class="p-2 fw-bolder">Address</td>
          <td class="p-2">{{ user.Address }}</td>
        </tr>
        <tr *ngIf="isAdmin()">
          <td class="p-2 fw-bolder">Active</td>
          <td class="p-2">{{ user.Active }}</td>
        </tr>
        <tr *ngIf="isAdmin()">
          <td class="p-2 fw-bolder">Roles</td>
          <td class="p-2">
            <mat-chip-list>
              <mat-chip *ngFor="let role of user.Roles">{{ role }}</mat-chip>
            </mat-chip-list>
          </td>
        </tr>
      </table>
      <div class="m-2 p-1">
        <div class="admin-controls d-flex align-items-center">
          <button
            type="button"
            class="btn btn-secondary d-inline-block p-1 m-1"
            data-bs-toggle="modal"
            data-bs-target="#EditUserInfoModal"
            (click)="EditMode()"
          >
            Edit
          </button>
          <button class="btn btn-danger d-inline-block p-1 m-1">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="EditUserInfoModal"
  tabindex="-1"
  aria-labelledby="EditUserInfoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EditUserInfoModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table table-borderless">
          <tr>
            <td class="p-2 fw-bolder">ID</td>
            <td class="p-2">
              <input type="text" [(ngModel)]="userEditable.UserID" />
            </td>
          </tr>
          <tr>
            <td class="p-2 fw-bolder">Name</td>
            <td class="p-2">
              <input type="text" [(ngModel)]="userEditable.Name" />
            </td>
          </tr>
          <tr>
            <td class="p-2 fw-bolder">Email</td>
            <td class="p-2">
              <input type="text" [(ngModel)]="userEditable.Email" />
            </td>
          </tr>
          <tr>
            <td class="p-2 fw-bolder">Mobile</td>
            <td class="p-2">
              <input type="text" [(ngModel)]="userEditable.Mobile" />
            </td>
          </tr>
          <tr>
            <td class="p-2 fw-bolder">Address</td>
            <td class="p-2">
              <input type="text" [(ngModel)]="userEditable.Address" />
            </td>
          </tr>
          <tr *ngIf="isAdmin()">
            <td class="p-2 fw-bolder">Active</td>
            <td class="p-2">
              <mat-radio-group [(ngModel)]="userEditable.Active">
                <mat-radio-button
                  class="mx-2"
                  value="true"
                  [checked]="userEditable.Active"
                  >true</mat-radio-button
                >
                <mat-radio-button
                  class="mx-2"
                  value="false"
                  [checked]="!userEditable.Active"
                  >false</mat-radio-button
                >
              </mat-radio-group>
            </td>
          </tr>
          <tr *ngIf="isAdmin()">
            <td class="p-2 fw-bolder">Roles</td>
            <td class="p-2">
              <mat-form-field class="w-100" appearance="fill">
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip
                    *ngFor="let role of user.Roles!"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(role)"
                  >
                    {{ role }}
                    <button matChipRemove *ngIf="removable">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input
                    placeholder="New role..."
                    [formControl]="roleCtrl"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)"
                  />
                </mat-chip-list>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="saveChanges()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
