<div class="container">
    <div class="row m-2">
        <div class="col-lg-4">
            <img width="100%" src="" alt="">
        </div>
        <div class="col-lg-8">
            <div>
                <form>
                    <table>
                        <tr>
                            <th>
                                <label for="titleLabel">Title: </label>
                            </th>
                            <td>
                                <input name='title' type="text" id='titleLabel' [(ngModel)]="newBook.Title">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="authorLabel">Author: </label>
                            </th>
                            <td>
                                <input name='author' type="text" [(ngModel)]="newBook.Author">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="ratingLabel">Rating: </label>
                            </th>
                            <td>
                                <input name='rating' type="text" id="ratingLabel" [(ngModel)]="newBook.Rating">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="categoryLabel">CatID: </label>
                            </th>
                            <td>
                                <input name="category" type="text" id="categoryLabel" [(ngModel)]="newBook.CatID">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="isbnLabel">ISBN: </label>
                            </th>
                            <td>
                                <input name="isbn" type="text" id="isbnLabel" [(ngModel)]="newBook.ISBN">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="priceLabel">Price: </label>
                            </th>
                            <td>
                                <input name="price" type="text" id="priceLabel" [(ngModel)]="newBook.Price">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="formatLabel">Format: </label>
                            </th>
                            <td>
                                <input name="format" type="text" id="formatLabel" [(ngModel)]="newBook.Format">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="admin-controls d-flex align-items-center" *ngIf="isAdmin()">
                <button class="btn btn-danger d-inline-block">
                    add
                </button>
            </div>
        </div>
    </div>
</div>