<div class="container">
  <div class="row">
    <div class="col-sm-1">
      <button class="btn" (click)="goBack()">
        <i class="bi bi-arrow-left-circle-fill h1"></i>
      </button>
    </div>
    <div class="col-sm-4 img-container m-2">
      <img width="100%" src="{{ book.Image }}" alt="" />
    </div>
    <div class="col-sm-7">
      <div class="container">
        <div *ngIf="!editModeToggle">
          <div class="title">{{ book.Title }}</div>
          <div class="author">{{ book.Author }}</div>
          <div class="rating">Score: {{ book.Rating }}/5</div>
          <div class="category">CatID: {{ book.CatID }}</div>
          <div class="isbn">ISBN: {{ book.ISBN }}</div>
          <div class="d-flex align-items-center">
            <div class="price d-inline-block">
              {{ book.Price | currency: "USD" }}
            </div>
            <div class="oldprice d-inline-block">{{ book.OldPrice }}</div>
          </div>
          <div class="format">Format: {{ book.Format }}</div>
        </div>
        <div *ngIf="editModeToggle">
          <form>
            <table>
              <tr>
                <th>
                  <label for="titleLabel">Title: </label>
                </th>
                <td>
                  <input
                    class="form-control"
                    name="title"
                    type="text"
                    id="titleLabel"
                    [(ngModel)]="newBook.Title"
                  />
                </td>
              </tr>
              <tr>
                <th>
                  <label for="authorLabel">Author: </label>
                </th>
                <td>
                  <input
                    class="form-control"
                    name="author"
                    type="text"
                    [(ngModel)]="newBook.Author"
                  />
                </td>
              </tr>
              <tr>
                <th>
                  <label for="ratingLabel">Rating: </label>
                </th>
                <td>
                  <input
                    class="form-control"
                    name="rating"
                    type="text"
                    id="ratingLabel"
                    [(ngModel)]="newBook.Rating"
                  />
                </td>
              </tr>
              <tr>
                <th>
                  <label for="categoryLabel">CatID: </label>
                </th>
                <td>
                  <input
                    class="form-control"
                    name="category"
                    type="text"
                    id="categoryLabel"
                    [(ngModel)]="newBook.CatID"
                  />
                </td>
              </tr>
              <tr>
                <th>
                  <label for="isbnLabel">ISBN: </label>
                </th>
                <td>
                  <input
                    class="form-control"
                    name="isbn"
                    type="text"
                    id="isbnLabel"
                    [(ngModel)]="newBook.ISBN"
                  />
                </td>
              </tr>
              <tr>
                <th>
                  <label for="priceLabel">Price: </label>
                </th>
                <td>
                  <input
                    class="form-control"
                    name="price"
                    type="text"
                    id="priceLabel"
                    [(ngModel)]="newBook.Price"
                  />
                </td>
              </tr>
              <tr>
                <th>
                  <label for="formatLabel">Format: </label>
                </th>
                <td>
                  <input
                    class="form-control"
                    name="format"
                    type="text"
                    id="formatLabel"
                    [(ngModel)]="newBook.Format"
                  />
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
      <div class="my-2 card border border-1 rounded" *ngIf="isAdmin()">
        <div class="d-flex align-items-center">
          <div class="fw-light p-1">Admin controls</div>
          <button
            class="btn btn-warning d-inline-block p-1 m-1"
            (click)="toggleEditMode()"
          >
            Edit
          </button>
          <button
            class="btn btn-danger d-inline-block p-1 m-1"
            *ngIf="!editModeToggle"
            (click)="deleteBook()"
          >
            Delete
          </button>
          <button
            class="btn btn-primary d-inline-block p-1 m-1"
            *ngIf="editModeToggle"
            (click)="updateBookDetails()"
          >
            Submit
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <button
          class="btn btn-primary d-inline-block p-1 m-1"
          (click)="AddToWishlist()"
          [disabled]="!isLoggedIn()"
        >
          <i class="bi bi-bookmark-heart h5"></i>
        </button>
        <button
          class="btn btn-warning d-inline-block p-1 m-1"
          (click)="AddToCart()"
          [disabled]="!isLoggedIn()"
        >
          Add to cart
        </button>
        <button
          class="btn btn-success d-inline-block p-1 m-1"
          [disabled]="!isLoggedIn()"
          (click)="GoToCheckOutPage()"
        >
          Buy Now
        </button>
      </div>
    </div>
  </div>
</div>
