<div class="container w-75 mx-auto mt-5">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-5 mx-auto">
      <div
        class="
          container-fluid
          flex
          custom-header-box-success
          text-center text-success
        "
        *ngIf="registrationForm.valid && serviceKeyValid && submitted"
      >
        Successfully registered!
      </div>
      <div
        class="
          container-fluid
          flex
          custom-header-box-danger
          text-center text-danger
        "
        *ngIf="registrationForm.valid && !serviceKeyValid && submitted"
      >
        Invalid Service Key!
      </div>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group p-2">
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Full name"
            formControlName="name"
            [ngClass]="{
              'is-invalid':
                registrationForm.get('name')?.invalid &&
                registrationForm.get('name')?.touched
            }"
          />
          <div class="invalid-feedback">
            <div
              *ngIf="registrationForm.get('name')?.errors?.required"
              class="text-danger"
            >
              Name is required
            </div>
            <div
              *ngIf="registrationForm.get('name')?.errors?.pattern"
              class="text-danger"
            >
              Name cannot contain digits or special characters
            </div>
          </div>
        </div>

        <div class="form-group p-2">
          <input
            type="tel"
            id="phoneno"
            class="form-control"
            placeholder="Phone No"
            formControlName="mobile"
            [ngClass]="{
              'is-invalid':
                registrationForm.get('mobile')?.invalid &&
                registrationForm.get('mobile')?.touched
            }"
          />
          <div class="invalid-feedback">
            <div
              *ngIf="registrationForm.get('mobile')?.errors?.required"
              class="text-danger"
            >
              Mobile is required
            </div>
            <div
              *ngIf="registrationForm.get('mobile')?.errors?.pattern"
              class="text-danger"
            >
              Mobile can only contain digits, brackets and + sign
            </div>
          </div>
        </div>

        <div class="form-group p-2">
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Email"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
                registrationForm.get('email')?.invalid &&
                registrationForm.get('email')?.touched
            }"
          />
          <div class="invalid-feedback">
            <div
              *ngIf="registrationForm.get('email')?.errors?.required"
              class="text-danger"
            >
              Email is required
            </div>
            <div
              *ngIf="registrationForm.get('email')?.errors?.email"
              class="text-danger"
            >
              The entered email is not a valid one
            </div>
          </div>
        </div>

        <div class="form-group p-2">
          <input
            type="text"
            id="address"
            class="form-control"
            placeholder="Address"
            formControlName="address"
            [ngClass]="{
              'is-invalid':
                registrationForm.get('address')?.invalid &&
                registrationForm.get('address')?.touched
            }"
          />
          <div class="invalid-feedback">
            <div
              *ngIf="registrationForm.get('address')?.errors?.required"
              class="text-danger"
            >
              Address is required
            </div>
            <div
              *ngIf="registrationForm.get('address')?.errors?.pattern"
              class="text-danger"
            >
              Address cannot contain special characters
            </div>
          </div>
        </div>

        <div class="form-group p-2">
          <input
            type="password"
            id="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
            [ngClass]="{
              'is-invalid':
                registrationForm.get('password')?.invalid &&
                registrationForm.get('password')?.touched
            }"
          />
          <div class="invalid-feedback">
            <div
              *ngIf="registrationForm.get('password')?.errors?.required"
              class="text-danger"
            >
              Password is required
            </div>
            <div
              *ngIf="registrationForm.get('password')?.errors?.maxlength"
              class="text-danger"
            >
              Password should atmost 24 characters
            </div>
            <div
              *ngIf="registrationForm.get('password')?.errors?.minlength"
              class="text-danger"
            >
              Password should be atleast 6 characters
            </div>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-lg-4">
            <div class="form-group">
              <input
                type="checkbox"
                id="registerAsAdminInput"
                class="form-check-input"
                (click)="setAdmin()"
              />
              <label class="label px-1" for="registerAsAdminInput"
                ><span>Admin</span></label
              >
            </div>
          </div>
          <div class="col-lg-8">
            <div *ngIf="registerAsAdmin">
              <div class="form-group">
                <input
                  type="text"
                  id="serviceKeyInput"
                  class="form-control"
                  [formControl]="serviceKeyControl"
                  placeholder="Service Key"
                  [ngClass]="{
                    'is-invalid':
                      serviceKeyControl.invalid && serviceKeyControl.touched
                  }"
                />
                <div class="invalid-feedback">
                  <div
                    *ngIf="
                      serviceKeyControl.errors?.required &&
                      serviceKeyControl.errors?.touched
                    "
                    class="text-danger"
                  >
                    Service key is required
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center pt-2">
          <input
            type="submit"
            class="btn btn-primary"
            [disabled]="
              (registrationForm.invalid && !registerAsAdmin) ||
              ((registrationForm.invalid || serviceKeyControl.invalid) &&
                registerAsAdmin)
            "
            value="Register"
          />
        </div>
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
