<div>
  <div class="row">
    <div class="col-lg-1">
      <button class="btn" (click)="goBack()">
        <i class="bi bi-arrow-left-circle-fill h1"></i>
      </button>
    </div>
    <div class="col-lg-11">
      <button
        class="btn btn-primary mx-3 my-1 p-2"
        (click)="AddNewCoupon()"
        data-bs-toggle="modal"
        data-bs-target="#editCouponModal"
      >
        Add
      </button>
      <div
        class="card mx-3 my-1 p-2"
        *ngFor="let coupon of couponList"
        (click)="setSelectedCoupon(coupon)"
        data-bs-toggle="modal"
        data-bs-target="#editCouponModal"
      >
        <div class="row">
          <div class="col-lg-3">
            <div>Code:</div>
            <div>Creator:</div>
            <div>Discount:</div>
          </div>
          <div class="col-lg-5">
            <div>{{ coupon.code! }}</div>
            <div>{{ coupon.creator! }}</div>
            <div>{{ coupon.discount }}%</div>
          </div>
          <div class="col-lg-2 mx-auto">
            <div>Status</div>
            <div
              [ngClass]="{
                green: coupon.status == 'active',
                red: coupon.status == 'inactive'
              }"
            >
              {{ coupon.status! }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editCouponModal"
  tabindex="-1"
  aria-labelledby="editCouponModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCouponModalLabel">Edit Coupon</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="CouponEditFormGroup">
          <div class="row">
            <div class="col-lg-10">
              <div class="row">
                <div class="col-3">
                  <div class="p-2">Code:</div>
                </div>
                <div class="col-5">
                  <div class="form-group p-2">
                    <input type="text" formControlName="code" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <div class="p-2">Creator:</div>
                </div>
                <div class="col-5">
                  <div class="form-group p-2">
                    <input type="text" formControlName="creator" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <div class="p-2">Discount:</div>
                </div>
                <div class="col-5">
                  <div class="form-group p-2">
                    <input type="text" formControlName="discount" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <div class="p-2">Status</div>
                </div>
                <div class="col-5">
                  <div class="form-group p-2">
                    <mat-radio-group formControlName="status">
                      <mat-radio-button class="mx-2" value="active"
                        >active</mat-radio-button
                      >
                      <mat-radio-button class="mx-2" value="inactive"
                        >inactive</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          *ngIf="modify"
          type="button"
          class="btn btn-primary"
          (click)="saveChanges()"
          data-bs-dismiss="modal"
        >
          Save changes
        </button>
        <button
          *ngIf="!modify"
          type="button"
          class="btn btn-primary"
          (click)="addCoupon()"
          data-bs-dismiss="modal"
        >
          Add
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteCoupon()"
          data-bs-dismiss="modal"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
